html,body {
    height: 100%;
    margin: auto;
}
.shield{
    position:relative;
    width:500px;
    height:500px;
    text-align:center;
    border-radius:50%;
    margin:auto;
    background: linear-gradient(-45deg,rgba(255,255,255,0) 35%,rgba(255,255,255,0.45) 50%,rgba(255,255,255,0) 65%),      linear-gradient(45deg,rgba(255,255,255,0) 35%,rgba(255,255,255,0.45) 50%,rgba(255,255,255,0) 65%),      linear-gradient(rgba(0,0,0,0) 35%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 65%),      linear-gradient(90deg,rgba(0,0,0,0) 35%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 65%),      radial-gradient(ellipse at center,#0033b0 25%,#ce0021 25%,#ce0021 42%,#bbb 42%,#bbb 58%,#ce0021 56%);
    transform:translateY(-40%);
    top:40%;
}
.shield:before{
    content:'★';
    font-size: 180px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#0025889c;
    width: 176px;
    height: 176px;
    border-radius:50%;
    line-height: 170px;
    text-shadow:1px -1px #051b50, -1px 1px #0022b0;
    color:#bbb;
}
.shield:after{
    content:'';
    position:absolute;
    bottom:-20px;;
    width:300px;
    box-shadow:-150px 50px 70px 10px black;
}
